[Unit]
Description=WebSocket Arduino

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/web-socket-arduino/webard
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=WebArd
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
